PORT=3000


# https://dashboard.stripe.com/test/dashboard
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/payments/success

STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel


# https://docs.stripe.com/webhooks?snapshot-or-thin=snapshot
# Este es el signing secret del Weebhook
STRIPE_ENDPOINT_SECRET_URL=

# NATS_SERVERS="nats://localhost:4222 , nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"